.THIS .slds-card__body, .THIS .sds-c-card-header-spacing-block-end {
    margin: 0;
}

.THIS .error-message {
    margin: 24px;
    font-size: 1.5em;
    color: darkred;
}

.THIS .error-message:empty {
    display: none;
 }